mixin titulo(tittle, subtitulo)
	.encabezado
		h2= tittle
		p= subtitulo
			span
				img(src="assets/image/double-arrow-bottom.png")

mixin photo(call)
	case call
		when 'uno'
			a(href="#")
				img(src="assets/image/blog_avatar_01.jpg")
		when 'dos'
			a(href="#")
				img(src="assets/image/blog_avatar_02.jpg")
		when 'tres'
			a(href="#")
				img(src="assets/image/blog_avatar_03.jpg")
		when 'cuatro'
			a(href="#")
				img(src="assets/image/img_author_columnista.jpg")
		when 'cinco'
			a(href="#")
				img(src="assets/image/img_blogueros.jpg")

mixin cdrgrey(call, tittlegrey, comentario)
		.singlegrey
			+photo(call)
			.text-grey
				p.nombre= tittlegrey
				p.comentario= comentario

mixin cdrprincipal(fecha, headline, call, tittlegrey, comentario)
		.single.pull-left
			.titulos
				p= fecha
				h3= headline 
			+cdrgrey(call, tittlegrey, comentario)

mixin img-avatar(call)
	case call
		when "a-1"
			img.resize(src="assets/image/img-columnistas.jpg", alt="avatar-columnista")
		when "a-2"
			img(src="assets/image/img_blogueros.jpg", alt="avatar-columnista")

mixin banner-columnistas(call, name, tittle)
	.columnista.pull-left
		.avatar
			+img-avatar(call)
		.info
			h4: a(href="columnistas.html")=name
			span=tittle

//SECCION NOTICIAS//
mixin img-noticia(call)
	case call
		when "img-not-1"
			img(src="assets/image/img_especiales.jpg", alt="noticia1")
		when "img-not-2"
			img(src="assets/image/img_especiales_aside.jpg", alt="noticia2")
mixin noticia(titular, call, descripcion)
	.noticia
		h3=titular
		.img-noticia
			+img-noticia(call)
		P=descripcion
//SECCION ULTIMAS NOTICIAS//
mixin img-ultima(call)
	case call
		when 'ul-noti-1'
			img.pull-left(src="assets/image/img_news_grid.jpg", alt="")
		when 'ul-noti-2'
			img.pull-left(src="assets/image/img_news_grid.jpg", alt="")
		when 'ul-noti-3'
			img.pull-left(src="assets/image/img_news_grid.jpg", alt="")
		when 'ul-noti-4'
			img.pull-left(src="assets/image/img_news_grid.jpg", alt="")
mixin ultimas(date, titulo, call, subtitulo)
	.mas-noticias.clearfix
		p=date
		h4=titulo
		+img-ultima(call)
		.info
			span=subtitulo
		.interaccion
			.redes2.box-shadow
				a(href="#"): i.fa.fa-facebook.face
				a(href="#"): i.fa.fa-twitter.twit
				a(href="#"): i.fa.fa-google-plus.goo
//ASIDE//
mixin logo(call)
	case  call
		when "logo-1"
			img(src="assets/image/logo_aweita.jpg", alt="")
		when "logo-2"
			img(src="assets/image/logo_libero.jpg", alt="")
		when "logo-3"
			img(src="assets/image/logo_popular.jpg", alt="")
		when "logo-4"
			img(src="assets/image/logo_wapa.jpg", alt="")
mixin img-aweita(call, content)
	case call
		when "aw-1"
			.row
				.col-md-6
					img(src="assets/image/img_aweita.jpg", alt="")
				.col-md-10
					.noticia.text-left
						p=content
		when "aw-2"
			.row
				.col-md-6
					img(src="assets/image/img_fotodes.jpg", alt="")
				.col-md-10.text-left
					.noticia
						p=content
		when "popular-1"
			.row
				.col-md-6
					img(src="assets/image/img_fotodes.jpg", alt="")
				.col-md-10
					.noticia.text-left
						p=content
		when "libero-1"
			.row
				.col-md-6
					img.w-100(src="assets/image/img_video_destacado.jpg", alt="")
				.col-md-10
					.noticia.text-left
						p=content
		when "wapa-1"
			.row
				.col-md-6
					img(src="assets/image/img_fotodes.jpg", alt="")
				.col-md-10
					.noticia.text-left
						p=content
mixin aside-section(content)
	hr.custom
	.tittle
		h5=content
mixin foto-des(call,content)
	.foto-dest
		+img-aweita(call)
		h5=content
mixin imagen-especiales(call)
	case call
		when "esp1"
			img(src="assets/image/img_especiales_aside.jpg", alt="")
mixin especiales(call, info)
	.especiales
		.especiales-img
			+imagen-especiales(call)
			.img-info-esp
				h5=info
mixin blogueros(nombreblog)
	.row
		.col-md-3
			img(src="assets/image/img_blogueros.jpg", alt="")
		.col-md-13.text-left
			span: a(href="#blogs.html") Augusto Alvarez Rodrich
			h6=nombreblog
mixin impresa(tittle, link)
	.row
		.col-md-8
			img.w-100.border-silver(src="assets/image/img_impreso_sd.jpg", alt="")
		.col-md-8
			.titular.text-left
				span=tittle
				a=link

//FOOTER//
mixin footer(text1,text2,text3,text4,text5,text6,text7,text8,text9,text10,text11,text12,text13,text14,text15,text16,text17,text18,text19,text20,text21)
	ul
		li: a(href="#")= text1
		li: a(href="#")= text2
		li: a(href="#")= text3
		li: a(href="#")= text4
		li: a(href="#")= text5
		li: a(href="#")= text6
		li: a(href="#")= text7
		li: a(href="#")= text8
		li: a(href="#")= text9
		li: a(href="#")= text10
		li: a(href="#")= text11
		li: a(href="#")= text12
		li: a(href="#")= text13
		li: a(href="#")= text14
		li: a(href="#")= text15
		li: a(href="#")= text16
		li: a(href="#")= text17
		li: a(href="#")= text18
		li: a(href="#")= text29
		li: a(href="#")= text20
		li: a(href="#")= text21