mixin titulo(tittle, subtitulo)
	.col-md-offset-2.col-md-14
		h3= tittle
		p= subtitulo
			span
				img(src="assets/image/double-arrow-bottom.png")

mixin photo(call)
	case call
		when 'uno'
			a.media-left(href="#")
				img.media-object(src="assets/image/blog_avatar_01.jpg")
		when 'dos'
			a.media-left(href="#")
				img(src="assets/image/blog_avatar_02.jpg")
		when 'tres'
			a.media-left(href="#")
				img(src="assets/image/blog_avatar_03.jpg")
		when 'cuatro'
			a.media-left(href="#")
				img(src="assets/image/img_author_columnista.jpg")
		when 'cinco'
			a.media-left(href="#")
				img(src="assets/image/img-columnistas.jpg")

mixin cdrgrey(call, tittlegrey, comentario)
	.media.singlegrey
		+photo(call)
		.media-body
			p.media-heading= tittlegrey
			p.media-heading= comentario

mixin cdrprincipal(fecha, headline, call, tittlegrey, comentario)
	.single.pull-right.clearfix
		p= fecha
		h3= headline 
		+cdrgrey(call, tittlegrey, comentario)




















mixin banner-columnistas()
	
>>>>>>> 40d9071a8c5ec651521ec5b34a743d3770ef2798
