mixin titulo(tittle, subtitulo)
	.encabezado
		h3= tittle
		p= subtitulo
			span
				img(src="assets/image/double-arrow-bottom.png")

mixin photo(call)
	case call
		when 'uno'
			a.media-left(href="#")
				img.media-object(src="assets/image/blog_avatar_01.jpg")
		when 'dos'
			a.media-left(href="#")
				img(src="assets/image/blog_avatar_02.jpg")
		when 'tres'
			a.media-left(href="#")
				img(src="assets/image/blog_avatar_03.jpg")
		when 'cuatro'
			a.media-left(href="#")
				img(src="assets/image/img_author_columnista.jpg")
		when 'cinco'
			a.media-left(href="#")
				img(src="assets/image/img-columnistas.jpg")

mixin cdrgrey(call, tittlegrey, comentario)
		.media.singlegrey
		+photo(call)
		.media-body
			p.media-heading= tittlegrey
			p.media-heading= comentario

mixin cdrprincipal(fecha, headline, call, tittlegrey, comentario)
		.single.pull-left
			p= fecha
			h3= headline 
			+cdrgrey(call, tittlegrey, comentario)

	.single.pull-left
		p= fecha
		h3= headline 
		+cdrgrey(call, tittlegrey, comentario)
	.single.pull-right.clearfix
		p= fecha
		h3= headline 
		+cdrgrey(call, tittlegrey, comentario)
//HOME//
//COLUMNISTAS-SECCION//
mixin img-avatar(call)
	case call
		when "a-1"
			img.MVLL(src="assets/image/img-columnistas.jpg", alt="avatar-columnista")
		when "a-2"
			img(src="assets/image/img_blogueros.jpg", alt="avatar-columnista")
mixin banner-columnistas(call, name, tittle)
	.columnista.pull-left
		.avatar
			+img-avatar(call)
		.info
			h4=name
			span=tittle
//SECCION NOTICIAS//
mixin img-noticia(call)
	case call
		when "img-not-1"
			img(src="assets/image/img_especiales.jpg", alt="noticia1")
		when "img-not-2"
			img(src="assets/image/img_especiales_aside.jpg", alt="noticia2")
mixin noticia(titular, call, descripcion)
	.noticia
		h3=titular
		.img-noticia
			+img-noticia(call)
		P=descripcion
//SECCION ULTIMAS NOTICIAS//
mixin img-ultima(call)
	case call
		when 'ul-noti-1'
			img.pull-left(src="assets/image/img_news_grid.jpg", alt="")
		when 'ul-noti-2'
			img.pull-left(src="assets/image/img_news_grid.jpg", alt="")
		when 'ul-noti-3'
			img.pull-left(src="assets/image/img_news_grid.jpg", alt="")
		when 'ul-noti-4'
			img.pull-left(src="assets/image/img_news_grid.jpg", alt="")
mixin ultimas(date, titulo, call, subtitulo)
	.mas-noticias.clearfix
		h6=date
		h5=titulo
		+img-ultima(call)
		.info
			span=subtitulo
		.interaccion
			.social
				a
					i.fa.fa-facebook
				a
					i.fa.fa-twitter
				a
					i.fa.fa-google-plus
//ASIDE//
mixin img-aweita(call, content)
	case call
		when "aw-1"
			.img-aweita
				img.pull-left(src="assets/image/img_aweita.jpg", alt="")
				.noticia
					p=content
		when "aw-2"
			.img-aweita
				img.pull-left(src="assets/image/img_aweita.jpg", alt="")
				.noticia
					p=content
mixin aside-section(content)
	img.w-100(src="assets/image/nota_galeria_border.png", alt="border")
	.tittle
		h5=content
